@import url('animations.css');
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBBc9.ttf) format('truetype');
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
html a,
body a {
  text-decoration: none;
}
html nav,
body nav {
  position: absolute;
  right: 0;
  background: #000;
  padding: 2em;
  width: calc(78% - 4em);
  height: calc(100vh - 4em);
  display: none;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  z-index: 9998;
}
html nav .close-button,
body nav .close-button {
  width: 45px;
  float: right;
  cursor: pointer;
  opacity: 0;
}
html nav ul,
body nav ul {
  list-style-type: none;
  margin: 10% auto 0;
  padding: 0;
  width: 80%;
}
html nav ul li,
body nav ul li {
  opacity: 0;
  padding: 1rem;
}
html nav ul a,
body nav ul a {
  color: #fff;
  font-size: 1.9em;
  text-transform: uppercase;
}
html header,
body header {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html header .logo,
body header .logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
html header .logo .logo-image,
body header .logo .logo-image {
  max-width: 60px;
  padding: 0.2rem;
}
html header .logo .logo-title,
body header .logo .logo-title {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}
html header .menu-btn,
body header .menu-btn {
  width: 50px;
  cursor: pointer;
}
html section,
body section {
  padding: 3em 2em;
}
html section .section-title,
body section .section-title {
  color: #666;
}
html section .section-title h1,
body section .section-title h1 {
  margin: 1rem 0;
}
html section .section-title h3,
body section .section-title h3 {
  font-size: 2.1rem;
  font-weight: 500;
  width: 100%;
}
html section .section-title .brand > div,
body section .section-title .brand > div {
  height: 100px;
  border-left: 6px solid #666;
  padding-left: 20px;
  line-height: 170px;
}
html section h1,
body section h1 {
  font-size: 4em;
  width: 100%;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
}
html section.hero-section,
body section.hero-section {
  background: url('../images/padron-bg.svg') 0 -240px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75vh;
  z-index: -9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
html section.hero-section .color-figures,
body section.hero-section .color-figures {
  position: relative;
  width: 100%;
  height: 60vh;
}
html section.hero-section .color-figures .color-figure-item,
body section.hero-section .color-figures .color-figure-item {
  position: absolute;
}
html section.hero-section .color-figures .color-figure-item.square-one,
body section.hero-section .color-figures .color-figure-item.square-one {
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
html section.hero-section .color-figures .color-figure-item.triangle-one,
body section.hero-section .color-figures .color-figure-item.triangle-one {
  top: 25%;
  right: 70%;
}
html section.hero-section .color-figures .color-figure-item.square-two,
body section.hero-section .color-figures .color-figure-item.square-two {
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
html section.hero-section .color-figures .color-figure-item.circle,
body section.hero-section .color-figures .color-figure-item.circle {
  bottom: 0;
  left: 0;
}
html section.hero-section .color-figures .color-figure-item.triangle-two,
body section.hero-section .color-figures .color-figure-item.triangle-two {
  bottom: 0;
  right: 0;
}
html section.hero-section .color-buttons,
body section.hero-section .color-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
html section.hero-section .color-buttons .my-button,
body section.hero-section .color-buttons .my-button {
  width: 66px;
  height: 66px;
  border: none;
  outline: none;
  cursor: pointer;
}
html section.hero-section .color-buttons .my-button.green,
body section.hero-section .color-buttons .my-button.green {
  background-color: #33CC99;
}
html section.hero-section .color-buttons .my-button.blue,
body section.hero-section .color-buttons .my-button.blue {
  background-color: #3399CC;
}
html section.hero-section .color-buttons .my-button.orange,
body section.hero-section .color-buttons .my-button.orange {
  background-color: #FF9933;
}
html section.hero-section .color-buttons .my-button.current,
body section.hero-section .color-buttons .my-button.current {
  height: 90px;
  width: 90px;
  outline: 1px solid #3399CC;
  outline-offset: 5px;
}
html section.brand-section .section-figures,
body section.brand-section .section-figures {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}
html section.brand-section .brand-section-image,
body section.brand-section .brand-section-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  width: 90vw;
}
html section.brand-section .brand-section-image p,
body section.brand-section .brand-section-image p {
  font-size: 1.8rem;
  color: #666;
  padding: 5vw;
}
html section.brand-section .brand-section-image img,
body section.brand-section .brand-section-image img {
  width: 70px;
  margin: 30px 30px 30px 0px;
}
html section.brand-section .brand-section-description,
body section.brand-section .brand-section-description {
  position: relative;
}
html section.brand-section .brand-section-description:before,
body section.brand-section .brand-section-description:before {
  content: '';
  display: block;
  min-width: 320px;
  min-height: 320px;
  border: 6px dashed #3399CC;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 15%;
  z-index: 0;
}
html section.brand-section .brand-section-description p,
body section.brand-section .brand-section-description p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.8rem;
  padding: 6.5vw;
  color: #666;
  position: relative;
}
html section.brand-section .brand-section-description .heighlight,
body section.brand-section .brand-section-description .heighlight {
  background: #3399CC;
  color: #fff;
}
html section.brand-section .brand-section-description #more,
body section.brand-section .brand-section-description #more {
  width: 3rem;
  position: absolute;
  bottom: 3%;
  right: 0;
  cursor: pointer;
}
html section.brand-section .brand-section-links,
body section.brand-section .brand-section-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
html section.brand-section .brand-section-links a,
body section.brand-section .brand-section-links a {
  font-weight: 300;
  margin: 0.5rem 5vw;
  padding: 3vw 5vw;
  color: #ffffff;
  font-size: 1.4rem;
  background-image: -webkit-linear-gradient(218deg, #e5e5e5 18%, #7ABB00 0%);
}
html section.brand-section .brand-section-links a:nth-child(1),
body section.brand-section .brand-section-links a:nth-child(1) {
  background-image: -webkit-linear-gradient(136deg, #e5e5e5 40%, #5B8F22 0%);
}
html section.game-section .section-game .game-controls,
body section.game-section .section-game .game-controls {
  width: 100%;
  max-width: 511px;
  background-color: #CCCCCC;
  left: 0;
  padding: 10vw;
}
html section.game-section .section-game .game-controls input,
body section.game-section .section-game .game-controls input {
  width: 60%;
  clear: both;
  background: transparent;
  border: none;
  border-bottom: 6px solid #000000;
  height: 57px;
  font-size: 2.5rem;
  color: #000;
  margin-left: 10vw;
}
html section.game-section .section-game .game-controls input::-webkit-input-placeholder,
body section.game-section .section-game .game-controls input::-webkit-input-placeholder {
  color: #000;
}
html section.game-section .section-game .game-controls input::-moz-placeholder,
body section.game-section .section-game .game-controls input::-moz-placeholder {
  color: #000;
}
html section.game-section .section-game .game-controls input:-ms-input-placeholder,
body section.game-section .section-game .game-controls input:-ms-input-placeholder {
  color: #000;
}
html section.game-section .section-game .game-controls input::-ms-input-placeholder,
body section.game-section .section-game .game-controls input::-ms-input-placeholder {
  color: #000;
}
html section.game-section .section-game .game-controls input::placeholder,
body section.game-section .section-game .game-controls input::placeholder {
  color: #000;
}
html section.game-section .section-game .game-controls a,
body section.game-section .section-game .game-controls a {
  display: block;
  clear: both;
  font-weight: 300;
  margin: 20vw 5vw 5vw 3vw;
  padding: 3vw 5vw;
  color: #ffffff;
  font-size: 1.4rem;
  background-image: -webkit-linear-gradient(136deg, #ccc 40%, #7AB800 0%);
}
html section.game-section .section-game .dotted,
body section.game-section .section-game .dotted {
  margin-top: -51vw;
  margin-left: -26vw;
}
html section.game-section .section-game .sapo-simbol,
body section.game-section .section-game .sapo-simbol {
  max-width: 40vw;
  padding: 40vw 0 0 40vw;
}
html footer .social-links,
body footer .social-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 350px;
  background-image: -webkit-linear-gradient(-94deg, #e5e5e5 40%, #5B8F22 0%);
}
html footer .social-links img,
body footer .social-links img {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  body section {
    padding: 3.5em 2em;
  }
  body .sapo-simbol {
    width: 90%;
    margin: 0 5%;
  }
  body .color-figures {
    width: 80% !important;
    margin: 0 10%;
    height: 50vh !important;
  }
  body .brand-section-description {
    width: 65%;
  }
  body .brand-section-description:before {
    left: 80%;
  }
  body .brand-section-description p {
    padding: 0 6.5vw;
  }
  body .brand-section-links {
    margin-top: 70px;
  }
  body .brand-section-links a {
    max-width: 300px;
    padding: 2vw 2.5vw !important;
  }
  body section.game-section .section-game .game-controls {
    padding: 3vw 0vw;
  }
  body section.game-section .section-game .game-controls a {
    margin: 6vw 5vw 5vw 3vw;
  }
  body section.game-section .section-game .sapo-simbol {
    max-width: 33vw;
    padding: 15vw 0 0 20vw;
  }
  body section.game-section .section-game .dotted {
    margin-top: -12vw;
    margin-left: 4vw;
  }
}
@media (min-width: 1200px) {
  body section {
    padding: 0 2em;
  }
  body header {
    padding: 3rem 5em !important;
  }
  body .hero-section {
    background: url(../images/padron-bg.svg) 0 -360px !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
    min-height: 90vh !important;
  }
  body .sapo-simbol {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  body .sapo-simbol img {
    max-width: 550px !important;
  }
  body .color-figures {
    max-width: 35vw !important;
    min-height: 85vh !important;
    -webkit-transform: translateX(-60%) rotate(68deg) !important;
    -ms-transform: translateX(-60%) rotate(68deg) !important;
    transform: translateX(-60%) rotate(68deg) !important;
    position: absolute !important;
    bottom: 30% !important;
  }
  body .color-buttons {
    width: 80% !important;
    margin: 0 10% !important;
    -webkit-box-pack: space-evenly !important;
    -ms-flex-pack: space-evenly !important;
    justify-content: space-evenly !important;
  }
  body .color-buttons .my-button {
    width: 96px !important;
    height: 96px !important;
  }
  body .color-buttons .my-button.current {
    height: 120px !important;
    width: 120px !important;
  }
  body .brand-section-image {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    background-color: transparent !important;
  }
  body .brand-section-image .image {
    border: 100px solid #fff !important;
    border-right-width: 250px !important;
    margin-right: 250px !important;
    z-index: 1 !important;
  }
  body .brand-section-image .image img {
    min-width: 150px !important;
    margin: 0 !important;
  }
  body .brand-section-description {
    top: -31% !important;
    margin-top: -440px !important;
    width: 50% !important;
    margin-left: 45% !important;
  }
  body .brand-section-description::before {
    left: auto !important;
    top: 35% !important;
    right: 120% !important;
    z-index: 0 !important;
  }
  body .brand-section-description p {
    font-size: 2rem !important;
    line-height: 2.8rem !important;
    padding: 0 4.5vw !important;
    z-index: 2 !important;
  }
  body .brand-section-links {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 50vw !important;
    margin-left: 50vw !important;
  }
  body .brand-section-links a {
    margin: 2.5rem 0 2.5rem 0 !important;
    padding: 1vw 5vw !important;
    background-image: -webkit-linear-gradient(328deg, #e5e5e5 14%, #7ABB00 0%) !important;
  }
  body .brand-section-links a:first-child {
    background-image: -webkit-linear-gradient(143deg, #e5e5e5 17%, #5B8F22 0%) !important;
  }
  body section.game-section .section-game .game-controls {
    width: 511px;
    padding: 50px 0;
    margin: 0 auto;
  }
  body section.game-section .section-game .game-controls input {
    margin-left: 120px;
  }
  body section.game-section .section-game .game-controls a {
    margin: 40px 10px 0 40px;
    padding: 20px 50px;
  }
}
